<nav class="nav">
  <div class="container d-flex jcsb nav-sm">
    <h1>
      <a href="/web-layout-training-vite/pages/index.html">
        <img
          class="logo"
          src="../assets/images/week3-4/logo-white.png"
          alt="l網頁名稱"
      /></a>
    </h1>

    <ul class="navBar d-flex nav-sm">
      <li class="nav-sm-2">
        <a
          class="pr-8 pl-8 fs-5"
          href="/web-layout-training-vite/pages/page-2.html"
          >系列鏡框</a
        >
      </li>
      <li class="nav-sm-2">
        <a
          class="pr-8 pl-8 fs-5"
          href="/web-layout-training-vite/pages/store.html"
          >門市據點</a
        >
      </li>
      <li class="nav-sm-2">
        <a class="pr-8 pl-8 fs-5" href="#">部落格</a>
      </li>
      <li class="nav-sm-2">
        <a
          class="pl-8 fs-5"
          href="/web-layout-training-vite/pages/question.html"
          >常見問題</a
        >
      </li>
    </ul>
  </div>
</nav>
